/* Box Model Hack */
* {
    box-sizing: border-box;
  }
  
  /* Clear fix hack */
  .clearfix:after {
       content: ".";
       display: block;
       clear: both;
       visibility: hidden;
       line-height: 0;
       height: 0;
  }
  
  .clear {
      clear: both;
  }
  
  /******************************************
  /* BASE STYLES
  /*******************************************/
  html{
    padding-top: 0px;
  }
  body {
    font-family: 'Oswald', sans-serif;
  }
  
  
  /******************************************
  /* LAYOUT
  /*******************************************/
  header {

    float: left;
    width: 100%;
    height: 100px;
    background: rgb(102, 118, 138);
  
  }
  header > *{
    float: left;
    width: 33.3333%;
  }
  header a{
    text-decoration: none;
  }
  header nav ul{
    float: left;
    width: 100%;
    list-style: none;
    margin-top: 0;
    padding-top: 5.1%;
    margin-left: 2%;
  }
  header nav ul li{
    float: left;
    width: 30%;
    padding-left: 10%;
    text-decoration: none;
  }
  header nav ul li:last-of-type{
    padding-left: 0;
  }
  header nav ul li a{
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    color: white;
    font-weight: 600;
  }
  header img{
    width: 3%;
    height: 50px;
    margin-left: 16%;
    margin-right: 5%;
    margin-top: 1%;

    /* padding-left: 10%; */
  }
  header > a {
    font-size: 20px;
    width: 6%;
    font-weight:600;
    height: 50px;
    margin-left: 30%;
    font-family: 'Oswald', sans-serif; color: rgb(102, 118, 138);
    background: white;
    margin-top: 1.5%;
    padding: .7% 1.3%;
    border: 2px solid white; border-radius: 5px;

  }

  main{
    width: 100%;
    text-align: center;
    height: 800px;
    padding: 10% 10%;
    background: rgb(102, 118, 138);
  }
  main h1{
    font-size: 100px; font-family: 'Oswald', sans-serif;
    color: whitesmoke; font-weight: 500;
    margin-bottom: 3%;
    word-spacing: 10px;
  }

  main p{
    font-size: 30px; font-family: 'Oswald', sans-serif;
    line-height: 1.5em; word-spacing: 5px; color: aliceblue;
    margin-bottom: 5%;
  }
  main div{
    height: 80px;
    padding: 0;
  }
  main div img{
    vertical-align: -60%;
    width: 3%;
    height: 60%;
    margin-right: 2%;
    
  }
  
  main div a{
    font-family: 'Oswald', sans-serif;
    font-size: 30px; color: azure;
    text-decoration: none;
  }

  body  > section{
    float: left;
    width: 100%;
    height: 600px;
    padding-top: 8%;
    text-align: center;
    background: white ;
    /* border: 2px solid black; */
  }

  .volunteer{
    height: 750px;

  }

  footer{
    height: 350px;
    width: 100%;
    float: left;
    background: rgb(22, 31, 42);
  }
  footer section{
    float: left;
    width: 40%;
    margin-right: 10% ;
  }
  
  
  
  /* footer {
  
  } */
  
  /******************************************
  /* ADDITIONAL STYLES
  /*******************************************/


  .why h2{
    font-family: 'Oswald', sans-serif;
    font-size: 60px;
    font-weight: 500;
    margin-bottom: 2%;
  }

  .why p{
    padding-left: 30%;
    padding-right: 30% ;
    font-family: 'Oswald', sans-serif;
    font-size: 25px; color: grey; font-weight: 400;
    line-height: 1.5em;
  }

  .twos{
    height: 1000px;
    background: rgb(234, 233, 238);
  }

  .twos section{
    /* border: 1px solid red; */
    float: left;
    width: 50%;
  }

  .twos section div{
    width: 50%;
    height: 300px;
    background: rgb(102, 118, 138);
    
  }
  .twos section .div1{
    margin: 0 100px 5% 40%;
  }

  .twos section .div2{
    margin: 0 40% 5% 100px; 
   }

  .twos section h3{
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 4%;
  } 

  .twos .sec1 h3{
    margin-left: 30% ;
  }

.twos .sec2 h3{
  margin-right: 30%;
}

.twos section p{
  font-family: 'Oswald', sans-serif;
  font-size: 25px; line-height: 1.4em;
  color: rgb(95, 95, 95);
  /* padding-left: 20%;
  padding-right: 20%; */
  width: 60%;
  margin-bottom: 8%;
}

.twos .sec1 p{
  margin-left: 35%;
  margin-right: 0;
}

.twos .sec2 p{
  margin-left: 5%;
  margin-right: 10%;
}

.twos section a{
  font-family: 'Oswald', sans-serif;
  font-size: 25px; color: black;
  font-weight: 500;
  border: 1px solid black;
  text-decoration: none;
}
.twos .sec1 a{
  width: 300px;
  height: 50px;
  padding: 20px 60px;
  margin-left: 30%;
}

.twos .sec2 a{
  width: 300px;
  height: 50px;
  padding: 20px 83px;
  margin-right: 30%;
}

.volunteer h2{
  font-family: 'Oswald', sans-serif;
  font-size: 60px;
  font-weight: 500;
  margin-bottom: 2.5%;
}

.volunteer p{
  font-family: 'Oswald', sans-serif;
  font-size: 25px;
  font-weight: 400;
  margin-bottom: 4%;
  padding-left: 30%;
  padding-right: 30%;
  line-height: 1.5em;
}

.volunteer a{
  font-family: 'Oswald', sans-serif;
  font-size: 25px; color: black;
  font-weight: 500;
  border: 1px solid black;
  text-decoration: none;
  width: 300px;
  height: 50px;
  padding: 20px 60px;  
}
footer section .logo{
  margin-top: 5%;
  margin-left: 5%;
  margin-bottom: 3%;
}
footer section .logo i{
  color: #fff;
  font-size: 40px;
  margin: 0 3%;
}

footer section .siteMap h4{
  font-family: 'Oswald', sans-serif;
  font-size: 22px; color: rgb(102, 118, 138);
  font-weight: 500;
  margin-left: 8%;
}
footer section .siteMap ul{
  list-style: none;
  width: 40%;
  /* border: 1px solid red; */
  height: 30px;
  margin-top: 1%;
  margin-left: 8%;
  margin-bottom: 2%;

}
footer section .siteMap ul li{
  float: left; 
  width: 20%;
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  
}
footer section .siteMap ul li:last-of-type{
  margin-left: 10%;
}

footer section .siteMap ul li a{
  text-decoration: none;
  color: #fff;
  font-weight: 500;
}

footer section .contribute h4{
  font-family: 'Oswald', sans-serif;
  font-size: 22px; color: rgb(102, 118, 138);
  font-weight: 500;
  margin-left: 8%;
}
footer section .contribute ul{
  list-style: none;
  width: 40%;
  /* border: 1px solid red; */
  height: 30px;
  margin-top: 1%;
  margin-left: 8%;
  /* margin-bottom: 3%; */

}
footer section .contribute ul li{
  float: left; 
  width: 20%;
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  
}
footer section .contribute ul li:last-of-type{
  margin-left: 10%;
}

footer section .contribute ul li a{
  text-decoration: none;
  color: #fff;
  font-weight: 500;
}

footer .right{
  margin-right: 3%;
  padding-left: 30%;
  padding-top: 2.5%;
  float: right;
}

footer .right h2{
  font-family: 'Oswald', sans-serif;
  font-size: 20px; color: #fff;
  line-height: 1.5em; font-weight: 500;
  margin-bottom: 12%;
}

footer .right p{
  font-family: 'Oswald', sans-serif;
  font-size: 16px; color:darkgrey;
  line-height: 1.5em; font-weight: 400;
  margin-bottom: 2%;
}
footer .right a{
  text-decoration: none;
  color: white;
  font-family: 'Oswald', sans-serif;
  font-size: 18px;

}

footer .last{
  /* text-align: center; */
  float: left;
  width: 94%;
  border-top: 3px solid white;
  height: 80px;
  margin-top: 1%;
  margin-left: 3%;
  
  /* font-family: 'Oswald', sans-serif; 
  font-size: 16px; color:white;
  font-weight: 400;
  margin-top: 1%; 
  margin-left: 3%; */
  /* margin-left: 8%; */
  /* margin: 1% 5% 1% 5%; */

}

.last *{
  float: left;
  width: 50%;
}

.last p{
  font-family: 'Oswald', sans-serif; 
  font-size: 16px; color:white;
  font-weight: 500;
  padding-top: 1%;
}

footer .last img{
  width: 3%;
  margin-left: 47%;
}